NODE_ENV=production
PORT=3001

DATABASE_URL="postgresql://neondb_owner:npg_WVpUgl4eotx2@ep-square-forest-at10e4zz-pooler.c-9.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

REDIS_URL="redis://localhost:6379"

JWT_SECRET="crm-nx-secret-key-2026-change-in-production"
JWT_EXPIRES_IN="7d"

MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="crm-files"

BCRYPT_SALT_ROUNDS=10
